[submodule "frontend"]
	path = frontend
	url = https://github.com/rextse04/snake.io.git
[submodule "backend/cpp_utils"]
	path = backend/data/cpp_utils
	url = https://github.com/rextse04/cpp_utils.git
