.game {
    width: 100%;
    height: 100%;
}

.game > canvas {
    position: absolute;
    bottom: 0;
    right: 0;
}
.game > canvas.hex {
    z-index: 1;
    background-color: black;
}
.game > canvas.food {
    z-index: 2;
    background-color: transparent;
}
.game > canvas.snake {
    z-index: 3;
    background-color: transparent;
}
.game > canvas.map {
    z-index: 4;
    background-color: rgba(255, 255, 255, 0.3);
    bottom: 2.5%;
    right: 2.5%;
}

.game > .timer {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    z-index: 4;
    user-select: none;
    font-family: monospace;
    font-size: xx-large;
    color: white;
}

.game > .scoreboard {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 4;
    user-select: none;
    font-size: large;
}