.session-token {
    font-size: xx-large;
    font-family: monospace;
    width: 5em;
}

.lobby > .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.lobby .lobby-room {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.lobby .lobby-room > * {
    padding-bottom: 3px;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    gap: 5px;
}

.lobby .username.connected {
    color: lightgreen;
}
.lobby .username.disconnected {
    color: lightcoral;
}

.lobby .start-btn {
    font-size: xx-large;
}

.about {
    position: absolute;
    top: 10px;
    right: 10px;
}
.about > button {
    font-size: x-large;
}